@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}

body {font-family:微軟儷黑體, 微軟正黑體, "宋体";font-size: 12px;line-height: 1.5em;} 
ul, ol { list-style: none; }

a,a code {outline:none;}
a:hover,a:hover code {}
a:active,a:active code {}
a img { border: none; }

em { font-style: italic; }
strong { font-weight: bold; }

.fl{float:left;}
.fr{float:right;}
.clr{width:auto; height:1px; margin-top:-1px; overflow:hidden; clear:both; display:block;}
